a {
    text-decoration: none !important;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.shopGap{
    gap: 25px 0px;

}
.bannerimg {
    /* background-color: #161616; */
    background-image: url("https://img.freepik.com/free-vector/watercolor-brush-abstract-background-template_483537-4065.jpg?w=1380&t=st=1691171565~exp=1691172165~hmac=b78396801a9b99ece108c2f4c20423da3c58007319c66b76271a778230bbb48e");    background-repeat: no-repeat;
    /* background-image: url('../images/banner.png'); */
 background-size: 100% ;
    /* height: 25vh;
    background-position: center right;  */
}
.perfume img{
    aspect-ratio: 3/4;
    object-fit:cover;


}
.cardshadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cardshadow:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* love button */

.wishList input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .wishList {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  
  .wishList svg {
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.3s;
    fill: #666;
    
  }
  
  .wishList svg:hover {
    transform: scale(1.1);
  }
  
  .wishList input:checked ~ svg {
    fill: #E3474F;
  }
  